#billboard{
  .flexslider{
    background-color: @black;
    border: none;
    margin-bottom: 0;
    overflow: hidden;
    .slides{
      position: relative;
      li{
        min-height: 320px;
        h2{
          color: #FFF;
          font-family: @serif;
          font-size: 3em;
          text-align: center;
          margin-top: 2em;
          margin-left: 2em;
          width: 70%;
        }
      }
    }
    .flex-direction-nav{
      li{
        a{
          &::before{
            color: @lightblue;
            text-shadow: none;
            opacity: .6;
            line-height: normal;
          }
        }
      }
    }
    .flex-control-nav {
      bottom: 1em;
      z-index: 200;
      li{
        a{
          background: @lightblue;
        }
        a.flex-active{
          background: #FFF;
        }
      }
    }
  }
}
