#contact{
  background-color: #E6E6E6;
  .section-title{
    border-top: 5px solid #FF6666;
    border-bottom: 5px solid #FF6666;
  }
  h4{
    font-family: @alegreya;
    text-align: center;
    span{
      color: rgb(0, 174, 255);
    }
  }
  .contact-info{
    text-align: center;
    margin-top: 20px;
    li{
      margin-bottom: .5em;
      font-size: 1.2em;
      a{
        color: @pink;
        opacity: .7;
        &:hover{
          opacity: 1;
        }
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}
