#portfolio{
  .section-title{
    border-bottom: 5px solid #FF6666;
    border-top: 5px solid #FF6666;
  }
  .project{
    h3{
      text-align: center;
      font-family: @serif;
      border-bottom: 1px solid #EAEAEA;
      padding: 10px 0;
      color: @pink;
      margin-bottom: 1em;
    }
    .project-url{
      text-align: center;
      font-size: 2em;
    }
    p{
      margin-bottom: 20px;
    }
    a{
      display: inline-block;
      color: @lightblue;
      &:hover{
        color: @pink;
      }
    }
    .project-info{
      text-align: center;
      *{
        color: @pink;
      }
      p{
        display: inline-block;
        font-size: 10px;
        &:nth-child(2){
          margin-left: 2em;
        }
      }
      i{
        font-size: 4em;
        margin-bottom: 10px;
      }
    }
  }
  .alt-slider{
    margin-bottom: 40px;
    .flex-control-nav{
      li{
        .flex-active{
          background: @lightblue;
        }
        a{
          background: @pink;
          &:hover{
            background: @lightblue;
          }
        }
      }
    }
    .flex-direction-nav{
      li{
        line-height: normal;
        a{
          text-shadow: none;
        }
        a::before{
          color: @pink;
          text-shadow: none;
        }
      }
    }
  }
}
