<section class="toys">
  <div class="panel panel-default col-xs-12 col-md-6" style="background-color: rgb({{r}},{{g}},{{b}})">
    <div class="panel-body">
      <section class="colorPicker">
        <a href="#" ng-show="preventDouble" ng-click="startColors()"><i class="fa fa-play"></i></a><a href="#" ng-hide="preventDouble" ng-click="stopColors()"><i class="fa fa-pause"></i></a>
        <ul ng-if="r" class="col-xs-12">
          <li>R: {{r}}</li>
          <li>G: {{g}}</li>
          <li>B: {{b}}</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="panel panel-default col-xs-12 col-md-6">
    <div class="panel-body">
      <nav>
        <a href='#' ng-click="clockShow=!clockShow" class="clockToggle col-xs-12">Date/Time</a>
      </nav>
      <p class="clockBody" ng-show="clockShow">{{clock | date:'h:mm'}}<span> {{clock | date : 'a'}}</span></p>
      <p class="clockBody" ng-hide="clockShow">{{clock | date : 'MMM d, y'}} <span> {{clock | date : 'EEEE'}}</span></p>
    </div>
  </div>
  </section>
